@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Poppins:wght@500&family=Ubuntu&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0;
}

/* Header style */
header {
    margin-top: 0;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 3% 15% 0 15%;

}



nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.banner-title {
    margin-top: 0;

}