@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Poppins:wght@500&family=Ubuntu&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0;

}

/* Header style */
header {
    margin-top: 0;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 3% 15% 0 15%;

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.banner-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2.5em;

}

.banner {
    padding-top: 100px;
    text-align: center;
}

.banner>p {
    font-size: 16px;
}

.primary-button {
    margin-top: 25px;
    background-color: #FF900E;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.3em;
}

.banner img {
    width: 100%;
    padding: 40px 0 40px 0;
}

/* team member section style start */
.container {
    margin-top: 100px;
    padding: 0 10% 0 10%;
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}

.team img {
    width: 100%;
}

.team-member {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* feature section style */
.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
}

.features img {
    width: 100%;
}

.feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.feature-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.feature-info {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #aaaaaa;
}

/* all icon style */
.all-icon {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.icon {
    border: 2px solid #FF900E;
    border-radius: 10px;
    padding: 30px;
    width: 150px;
    height: 150px;
    text-align: center;
}


/* responsive for mobile section */

@media screen and (max-width: 576px) {

    nav,
    .all-icon {
        flex-direction: column;
        align-items: center;
    }

    nav>ul {
        align-items: center;
    }

    .banner-info {
        margin-top: 0;
    }

    .team,
    .team-member,
    .features {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media screen and (min-width: 577px) {
    .position-btn {
        position: absolute;
        top: 3000px;
        right: 700px;
        font-size: 18px;
    }

}