@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Poppins:wght@500&family=Ubuntu&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0;

}

/* Header style */
header {
    margin-top: 0;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 3% 15% 0 15%;

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.banner-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2.5em;

}

.banner {
    padding-top: 100px;
    text-align: center;
}

.banner>p {
    font-size: 16px;
}

.primary-button {
    margin-top: 25px;
    background-color: #FF900E;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.3em;
}

.banner img {
    width: 100%;
    padding: 40px 0 40px 0;
}



@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav>ul {
        align-items: center;
    }

    .banner-info {
        margin-top: 0;
    }
}